body{
    font-family: "Chillax", sans-serif;
    background-color: black;
    color:white;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 20px ;
}
.name{
    font-size: 24px;
    margin-right: 200px;
}
.nav{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: auto;
    margin-right: 100px;
    margin-top: 20px;
}
.img{
    width: auto;
    height: 15px;
    margin: 30px 5px;
}
.fast{
    margin: auto;
    text-align: center;
    font-size: 80px;
    background: linear-gradient(#FF3BFF,#ECBFBF,#5C24FF,#D94FD5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.sc{
    margin: auto;
    text-align: center;
    font-size: 80px;
}
.about{
    font-family: "Cabinet Grotesk", sans-serif;
}
.ops{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    height: 99px;
}
button{
    background-color: black;
    color: white;
    border-radius: 100px;
}
.sp{
    background-color:black;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    padding: 16px 32px;
}
.btn1{
    margin-left: 600px;
    background: linear-gradient(#FF3BFF,#ECBFBF,#5C24FF,#D94FD5);
    border:black;
    max-width: 146px;
    max-height: 60px;
    overflow: hidden;
}
.btn2{
    padding:15px 30px;
    border: solid white;
}
.images{ 
    position: relative;
    display: inline-block;
    height: 470px;
    width: auto;
}